/* Buttons */
/* Inputs */
/* Timeline custom component */
html {
  overflow-x: hidden;
}
html, body {width: auto!important; overflow-x: hidden!important; background-color: #FDF1ED}
.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0; }

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
  background-color: #F3E6D5}

.timeline-card:last-child {
  margin-bottom: 1rem;
   background-color: #F3E6D5}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
  background-color: #F3E6D5}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #F3E6D5;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1; }

.timeline-card-primary {
  border-left-color: #9D583F;
  }

.timeline-card-primary:before {
  border-color: #9D583F; }

.timeline-card-primary:after {
  background-color: #9D583F; }

.timeline-card-success {
  border-left-color: #4D707D; }

.timeline-card-success:before {
  border-color: #4D707D; }

.timeline-card-success:after {
  background-color: #4D707D; }

html {
  scroll-behavior: smooth; }

.site-title {
  font-size: 1.25rem;
  line-height: 2.5rem; }

.nav-link {
  padding: 0;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.5); }

.nav-link:hover,
.nav-link:focus,
.active .nav-link {
  color: rgba(0, 0, 0, 0.8); }

.nav-item + .nav-item {
  margin-left: 1rem; }

.cover {
  border-radius: 10px; }

.portfolio-section{
background-color: #FDF1ED
}

.cover-bg {
  background-color: #AB7650;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.12'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  border-radius: 10px 10px 0 0; }
/* Style for Button 1 */
.btn-primary {
  background-color: #F7F4F2; /* Button 1 color */
  color: black;
  border: none;
}

.font-color{
color: #000000;}


.btn-primary:hover {
  background-color: #F3E6D5;
  color: white;
}

/* Style for Button 2 */
.btn-secondary {
  background-color: #F3E6D5; /* Button 2 color */
  color: black;
  border: none;
}

.btn-secondary:hover {
  background-color: white;
  color: #3182CE;
}

/* Style for Button 2 */
.btn-3 {
  background-color: #C9BB9A; /* Button 2 color */
  color: black;
  border: none;
}

.btn-3:hover {
  background-color: white;
  color: #3182CE;
}


.avatar {
  max-width: 216px;
  max-height: 216px;
  margin-top: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
.avatar img {
  /* Safari 6.0 - 9.0 */
      -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	 box-shadow: 0 5px 30px rgb(0 0 0 / 0.5);
    border-radius: 10px;}

footer a:not(.nav-link) {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

@media (min-width: 48em) {
  .site-title {
    float: left; }
  .site-nav {
    float: right; }
  .avatar {
    margin-bottom: -80px;
    margin-left: 0; } }
	


@media print {
  body {
    background-color: #fff;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	margin:0;}
  .portfolio-section {
	padding: 0 !important;}
  .container {
    width: auto;
    max-width: 100%;
    padding: 0;}
  .cover, .cover-bg {
    border-radius: 0; }
  .cover.shadow-lg {
    box-shadow: none !important; }
  .cover-bg {
    padding: 5rem !important;
    padding-bottom: 10px !important; }
  .avatar {
    margin-top: -10px; }
  .about-section {
    padding: 6.5rem 5rem 2rem !important; }
  .research {
    padding: 6.5rem 5rem 2rem !important; }
  .skills-section,
  .work-experience-section,
  .education-section,
  .contant-section {
    padding: 1.5rem 5rem 2rem !important; }
  .page-break {
    padding-top: 5rem;
    page-break-before: always; } }

.timeline-page:after {
    position: absolute;
    content: "";
    left: 0;
    right: -1px;
    top: 0px;
    width: 1px;
    height: 100%;
    margin: auto;
    border-right: 2px dashed #dee2e6 !important;
}
.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:after,
.timeline-page .timeline-item .duration-right:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    z-index: 1;
}
.timeline-page .timeline-item .date-label-left:after,
.timeline-page .timeline-item .duration-right:after {
    top: 9px;
    width: 10px;
    height: 10px;
    background-color: #BC2649;
}
.timeline-page .timeline-item .date-label-left:before,
.timeline-page .timeline-item .duration-right:before {
    border: 2px dashed #dee2e6;
    top: 0;
    width: 28px;
    height: 28px;
    background-color: #fff;
}
.timeline-page .timeline-item .date-label-left {
    float: right;
    margin-right: 24px;
}
.timeline-page .timeline-item .date-label-left:after {
    right: -41px;
}
.timeline-page .timeline-item .date-label-left:before {
    right: -50px;
}
.timeline-page .timeline-item .duration-right {
    float: left;
    margin-left: 24px;
}
.timeline-page .timeline-item .duration-right:after {
    left: -41px;
}
.timeline-page .timeline-item .duration-right:before {
    left: -50px;
}
.timeline-page .timeline-item .event {
    transition: all 0.2s ease;
}
.timeline-page .timeline-item .event .title {
    font-weight: 500;
    transition: all 0.2s ease;
}
.timeline-page .timeline-item .event.event-description-right {
    text-align: left;
    margin-left: 24px;
}
.timeline-page .timeline-item .event.event-description-left {
    text-align: right;
    margin-right: 24px;
}
@media (max-width: 575px) {
    .timeline-page {
        margin-left: 18px;
    }
    .timeline-page:after {
        margin: 0;
    }
    .timeline-page .timeline-item .duration {
        float: left !important;
        margin-left: 30px !important;
        margin-right: auto !important;
        text-align: left !important;
    }
    .timeline-page .timeline-item .duration:after {
        left: -34px !important;
    }
    .timeline-page .timeline-item .duration:before {
        left: -42px !important;
    }
    .timeline-page .timeline-item .duration .event {
        text-align: left !important;
        margin-left: 15px;
    }
    .timeline-page .timeline-item .event.event-description-left,
    .timeline-page .timeline-item .event.event-description-right {
        text-align: left !important;
        margin: 0 0 0 30px !important;
    }
}

.timeline-page .timeline-item .date-label-left:after {
    background-color: #1B401F !important;
}

.avatar.avatar-ex-small {
    height: 36px;
    width: 36px;
}
.rounded-pill {
    border-radius: 50rem!important;
}

  .icon-container {/* Or use inline, inline-flex, etc., depending on your layout needs */
    margin: 0;
    padding: 0;
  }

  .my-custom-icon {

    margin: 0;
    padding: 0;
  }


.image-container {
    position: relative;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    margin-top: auto;
}
.rounded-image {
    border-radius: 20px; /* Adjust the value to control the level of rounding */
}





